@use 'sass:map';
@use '../variables' as var;

@mixin font-weight($weight) {
    font-weight: map.get($map: var.$weights, $key: $weight);
}

@mixin Roboto($weight, $size: null) {
    font-size: $size;
    font-family: 'Roboto';
    @include font-weight($weight);
    font-style: normal;
}

@mixin SortsMillGoudy($weight, $size: null) {
    font-size: $size;
    font-family: 'Sorts Mill Goudy';
    @include font-weight($weight);
    font-style: normal;
}
