@use '../utils' as utils;

ul#table-of-contents {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;

    width: 100%;

    margin: 0;
    padding: 0;

    & > li {
        @include utils.flex-center($direction: row);
        margin: 0;
        padding: 0;
        list-style: none;
        @for $i from 1 through 7 {
            & > a.h#{$i} {
                font-size: (20 - $i) * 1px;
                margin-left: ($i - 1) * 12px;
            }
        }
    }
}
