@use 'sass:math';
@use 'sass:map';
@use '../utils' as utils;

body {
    @include utils.Roboto(regular, 13px);
}

@for $i from 1 through 7 {
    h#{$i} {
        font-size: math.div(-1, $i + 0.5) * 1.5 * 20px;

        @if ($i == 1) {
            color: map.get($map: utils.$colors, $key: primary);
            @include utils.SortsMillGoudy(regular);
            text-align: center;
        }
        @if ($i == 2) {
            color: map.get($map: utils.$colors, $key: secondary);
        }
        @if ($i == 3) {
            color: map.get($map: utils.$colors, $key: tertiary);
        }
        @if ($i == 4) {
            color: map.get($map: utils.$colors, $key: primary);
            text-decoration: underline;
            @include utils.Roboto(medium);
        }
        @if ($i == 5) {
            color: map.get($map: utils.$colors, $key: secondary);
            text-decoration: underline;
            @include utils.Roboto(medium);
        }
    }
}

blockquote {
    @include utils.SortsMillGoudy(regular, 15px);
}
